<header class="section">
  <div class="flex">
    <a class="site-logo" href="/"><h1>Smockle.</h1></a>
    <nav class="site-nav flex">
      <a href="#about">ABOUT</a>
      <a href="#projects">WORK</a>
      <a href="#feeds">FEEDS</a>
      <a href="#contact">CONTACT</a>
    </nav>
  </div>
</header>

{{outlet}}

<footer>
  <p>Copyright &copy; Clay Miller. All rights reserved.</p>
</footer>
