<section id="projects" class="section">
  <div class="flex">
    <h3 class="flex-title">Here are my recent projects:</h3>

    {{#each model}}
    <div class="flex-content thumbnail">
      <h4 class="thumbnail-title">{{name}}</h4>
      <a class="thumbnail-body" href="/projects/{{index}}">
        <div class="thumbnail-image" data-id="{{index}}"></div>
      </a>
    </div>
    {{/each}}
  </div>
</section>
